<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Virtual Campus</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    {% block style %}{% endblock style %}
    <style>
        @media screen and (max-width: 365px) and (min-width: 0px){
            #welcome{
                font-size: 20px;
            }
        }
    </style>
  </head>
  <body style="height: 100%; width:100%">
    <header>
      
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a href="#" class="navbar-brand"> Virtual Campus</a>
          
          
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarmenu">
          
              <ul class="navbar-nav ml-auto">
                  
                  
                  <li class="navbar-item">
                      <a href="logout" class="nav-link">Logout</a>
                  </li>
                  
                  <li class="navbar-item">
                      <a href="#" class="nav-link">Account</a>
                  </li>
                  
                  <li class="navbar-item">
                        <form method='POST' action=''>
                            <div class="input-group">
                             {{ search.searchbar }}<!--<input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">-->
                      <div class="input-group-append">
                        {{ search.submit }}<!--<a href="submit" class="input-group-text material-icons" id="basic-addon2">search</a>-->
                      </div>
                                </div>
                        </form>
                  </li>
              </ul>
          </div>
      </nav>
        
   
        
    <div>
      <div class='container-fluid'>
          <div class="row">
              <!-- MAIN SECTION -->
            <div class="col-lg-7" style="background-color:white; height:92vh">
                {% block main %}{% endblock main %}
            </div>
            <!-- SIDE BAR -->
            <div class="col-lg-5" style="overflow-y: scroll; max-height:92vh;">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a href="#" class="navbar-brand"> 
                        <div id="profile-icon">
                            {% if session['username']['Username'] == 'admin' %}
                                <img src='https://cdn4.iconfinder.com/data/icons/user-icons-5/100/user-28-512.png' height="80px" width="80px" style="border-radius: 50%; background-colour: blue;">
                            {% else %}
                                <img src='https://thumbs.dreamstime.com/z/businessman-profile-icon-male-portrait-flat-design-vector-illustration-47075259.jpg' height="80px" width="80px" style="border-radius: 50%; background-colour: blue;">
                            {% endif %}
                        </div>

                    </a>

                    <ul class="navbar-nav ml-auto" style="margin-right: 10px;">
                        <li class="navbar-item">
                            <a href="home" class="nav-link material-icons icons" title="Home" style="font-size: 40px;">home</a>
                        </li>

                        <li class="navbar-item">
                            <a href="calendar" class="nav-link material-icons icons" title="Calendar" style="font-size: 40px; width: 56px">events</a>
                        </li>

                        <li class="navbar-item">
                            <a href="social" class="nav-link material-icons icons" title="Social" style="font-size: 40px;">message</a>
                        </li>

                        <li class="navbar-item">
                            <a href="group" class="nav-link material-icons icons" title="Group" style="font-size: 40px">group</a>
                        </li>

                        <li class="navbar-item">
                            <a href="navigation" class="nav-link material-icons icons" title="Navigation" style="font-size: 40px">navigation</a>
                        </li>

                    </ul>
                </nav>
                <nav class="navbar navbar-expand navbar-light bg-light">
                    
                    {% if session['username']['Username'] == 'admin' %}
                        <h3>ADMIN</h3>
                        <ul class="navbar-nav ml-auto" style="margin-bottom: 10px; margin-right: 10px;">
                            <li class="navbar-item">
                                <a href="#" class="nav-link material-icons icons" title="Build" style="font-size: 40px">build</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link material-icons icons" title="Discussions" style="font-size: 40px">forum</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link material-icons icons" title="Bugs/Errors" style="font-size: 40px">bug_report</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link material-icons icons" title="Broadcast" style="font-size: 40px">announcement</a>
                            </li>
                        </ul>                           
                    {% else %}
                        <h3 id="welcome">Welcome Back {{ session['username']['Firstname'] }}!</h3>
                    {% endif %}
                                           
                </nav>
                
                {% block sidebar %}{% endblock sidebar %}
            </div>
              
          </div>
      </div>
    </div>


    <script>
        if(window.innerWidth <= 400){
            document.getElementById("profile-icon").outerHTML = "";
        }  
    </script>    
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
