{% extends "layout.html" %}
{% block style %}

{% endblock style %}

{% block main %}
    {% if event == 'calender' %}
        <img src="https://ugcorigin.s-microsoft.com/100/d1d6015d-7535-4628-a9c5-2b8297e44989/200/v1/image.jpg" width="100%" height="100%">
    {% else %}
        <div>
            <h2>Timetable</h2>
        </div>
    {% endif %}
{% endblock main %}



{% block sidebar %}
<div style="margin-top: 3vh">
    <ul>
        <li><a href="{{url_for('event',event='calender')}}">Calender</a></li>
        <li><a href="{{url_for('event',event='timetable')}}">Timetable</a></li>
    </ul>
</div>
<hr>

{% endblock sidebar %}
