{% extends "accesslayout.html" %}

{% block main %}
<div class="container">
    <div class="center-block" style="background-color:rgba(255,255,255,.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 60px; border-radius: 25px; box-shadow: 2px 2px 2px;">
        <div>
            <img src="https://www.coventry.ac.uk/globalassets/media/global/04-business-section-assets/business-landing-page/logos/coventry-university-logo-landscape.png">
        </div>
    <div class="">
        <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <fieldset>
        <legend>Login</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-success btn-block btn-lg") }}
        </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
        <div class="alert alert-warning">
            <p><strong>DISCLAIMER</strong> - When you login you give permission for us to; fetch, store and use your; username, password, and timetable.
            When logged in you can delete your account at any time, in the account settings at the top right of the page</p>
        </div>
    </div>
    </div>
</div>
{% endblock main %}
